<?xml version="1.0" encoding="utf-8" ?>
<nlog throwExceptions="true">
	<targets>
		<target name="file" type="File" fileName="${basedir}/Logs/${shortdate}.txt" maxArchiveFiles="31" layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
		<target name="console" type="Console" layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
	</targets>
	<rules>
		<logger name="*" minLevel="Warn" writeTo="file" />
		<logger name="*" minLevel="Info" writeTo="console" />
	</rules>
</nlog>
