<?xml version="1.0" encoding="utf-8" ?>
<nlog throwExceptions="true">
	<targets>
		<target name="file" type="File" fileName="${basedir}/log.txt" layout="${longdate}|${uppercase:${level}}|${logger}|${message} ${exception:format=tostring}" />
	</targets>
	<rules>
		<logger name="*" minLevel="Warn" writeTo="file" />
	</rules>
</nlog>
