.Login input {
	border-radius: 5px;
	border: 1px solid #ccc;
	font-size: 1em;
	height: 30px;
}

.Login {
	display: flex;
	justify-content: center;
}
	.Login p{
		margin-bottom:10px;
	}

	.Login p:first-child {
		padding-top: 200px;
	}

	.Login input {
		font-size: 1em;
	}

.button {
	margin: 5px 0px 10px 70px;
	height: 30px;
}
